In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv("C:\\Users\\hp\\Downloads\\video game Assignment-1.csv")
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

In [4]:
df.shape

(16719, 16)

In [5]:
df.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

### Data Cleaning

In [6]:
df=df.fillna(df[["Critic_Score","Critic_Count","User_Count"]].mean())
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.000000,51.000000,8,322.000000,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,68.967679,26.360821,NaN,162.229908,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.000000,73.000000,8.3,709.000000,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.000000,73.000000,8,192.000000,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,68.967679,26.360821,NaN,162.229908,NaN,NaN

In [7]:
df=df.drop(columns=['Developer','Rating','Name','Platform','Genre','Publisher'])

In [8]:
df=df.dropna(subset=['Year_of_Release'])

In [9]:
df.isnull().sum()

Year_of_Release       0
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score          0
Critic_Count          0
User_Score         6610
User_Count            0
dtype: int64

In [10]:
df.replace({'User_Score':'tbd'},0,inplace=True)
df.head(122)

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
0,2006.0,41.36,28.96,3.77,8.45,82.53,76.000000,51.000000,8,322.000000
1,1985.0,29.08,3.58,6.81,0.77,40.24,68.967679,26.360821,NaN,162.229908
2,2008.0,15.68,12.76,3.79,3.29,35.52,82.000000,73.000000,8.3,709.000000
3,2009.0,15.61,10.93,3.28,2.95,32.77,80.000000,73.000000,8,192.000000
4,1996.0,11.27,8.89,10.22,1.00,31.37,68.967679,26.360821,NaN,162.229908
...,...,...,...,...,...,...,...,...,...,...
117,2008.0,4.15,1.90,0.06,0.64,6.75,93.000000,90.000000,7.7,2739.000000
118,2011.0,2.77,2.75,0.19,1.03,6.74,92.000000,97.000000,8.3,3712.000000
119,2010.0,3.45,2.59,0.00,0.66,6.71,68.967679,26.360821,0,162.229908
120,2007.0,3.11,2.26,0.28,1.03,6.68,94.000000,44.000000,8.4,993.000000
121,2009.0,3.27,2.20,0.21,0.98,6.66,96.000000,105.000000,8.8,5187.000000

In [11]:
df=df.fillna({'User_Score':0})
df.head(122)

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
0,2006.0,41.36,28.96,3.77,8.45,82.53,76.000000,51.000000,8,322.000000
1,1985.0,29.08,3.58,6.81,0.77,40.24,68.967679,26.360821,0,162.229908
2,2008.0,15.68,12.76,3.79,3.29,35.52,82.000000,73.000000,8.3,709.000000
3,2009.0,15.61,10.93,3.28,2.95,32.77,80.000000,73.000000,8,192.000000
4,1996.0,11.27,8.89,10.22,1.00,31.37,68.967679,26.360821,0,162.229908
...,...,...,...,...,...,...,...,...,...,...
117,2008.0,4.15,1.90,0.06,0.64,6.75,93.000000,90.000000,7.7,2739.000000
118,2011.0,2.77,2.75,0.19,1.03,6.74,92.000000,97.000000,8.3,3712.000000
119,2010.0,3.45,2.59,0.00,0.66,6.71,68.967679,26.360821,0,162.229908
120,2007.0,3.11,2.26,0.28,1.03,6.68,94.000000,44.000000,8.4,993.000000
121,2009.0,3.27,2.20,0.21,0.98,6.66,96.000000,105.000000,8.8,5187.000000

In [12]:
df['User_Score'] = df['User_Score'].astype(float)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16450 entries, 0 to 16718
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year_of_Release  16450 non-null  float64
 1   NA_Sales         16450 non-null  float64
 2   EU_Sales         16450 non-null  float64
 3   JP_Sales         16450 non-null  float64
 4   Other_Sales      16450 non-null  float64
 5   Global_Sales     16450 non-null  float64
 6   Critic_Score     16450 non-null  float64
 7   Critic_Count     16450 non-null  float64
 8   User_Score       16450 non-null  float64
 9   User_Count       16450 non-null  float64
dtypes: float64(10)
memory usage: 1.4 MB

### Split Data

In [14]:
X = df.drop(['Global_Sales'], axis = 1)
y = df['Global_Sales']

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [16]:
X_train.shape, X_test.shape

((13160, 9), (3290, 9))

### Feature Scaling

In [26]:
sc=StandardScaler()
sc.fit(X_train)
X_train_sc=sc.transform(X_train)
X_test_sc=sc.transform(X_test)

## 1. Linear Regression-

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
regressor=LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [20]:
print('Train Score: ', regressor.score(X_train, y_train)) 
print('Test Score: ', regressor.score(X_test, y_test))

Train Score:  0.9999890863021921
Test Score:  0.9999878772059406

In [21]:
y_pred= regressor.predict(X_test) 
y_pred

array([0.60031003, 0.01026393, 0.97020327, ..., 1.08027393, 0.10034209,
       0.29022513])

In [22]:
y_test

3360     0.60
16265    0.01
2119     0.97
3912     0.51
1597     1.25
         ...
14247    0.03
5652     0.32
1892     1.08
10622    0.10
5925     0.30
Name: Global_Sales, Length: 3290, dtype: float64

In [23]:
# Cross validation
from sklearn.model_selection import cross_val_score
cross_validation = cross_val_score(estimator =regressor, X = X_train, y = y_train, cv = 10)
print("Cross validation of  Linear Regression model = ",cross_validation)
print("Cross validation of  Linear Regression model (in mean) = ",cross_validation.mean())

Cross validation of  Linear Regression model =  [0.99997817 0.99997588 0.99998501 0.99998722 0.99998492 0.9999923
 0.99998801 0.99999027 0.99997933 0.99999602]
Cross validation of  Linear Regression model (in mean) =  0.9999857147911204

### 2.K-Fold Cross Validation

In [28]:
from sklearn.model_selection import KFold,cross_val_score
cvs = cross_val_score(regressor, X_train,y_train, cv = 10)
cvs, cvs.mean()

(array([0.99997817, 0.99997588, 0.99998501, 0.99998722, 0.99998492,
        0.9999923 , 0.99998801, 0.99999027, 0.99997933, 0.99999602]),
 0.9999857147911204)